<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abymani.image_comm">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_mobile"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Navigation" />
        <activity android:name=".Selector" />
        <activity android:name=".FileChooser" />
        <activity
            android:name=".Display"
            android:label="@string/title_activity_display"
            android:theme="@style/AppTheme" />
        <activity android:name=".RecieveFile" />
        <activity android:name=".CannyEdge" />
        <activity android:name=".Live_camera" />
        <activity android:name=".CaptureRecognizeDecode"></activity>
    </application>

</manifest>